{% load static %}
<!DOCTYPE html>
<html lang="ja">


<head>
    
    {% block header %} 
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>売上管理アプリ</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="{% static 'sales.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">売上管理アプリ</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false"
            aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list' %}">売上</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'boys_list' %}">ボーイ給料</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'girls_list' %}">キャスト給料</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shopping_list' %}">出費</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profit_list' %}">利益</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">ユーザ登録</a>
                </li>
                {% endif %}           
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    {% endblock header %}

    
    {% block content %}
        
    {% endblock content %}
        
    {% block css %}
   
    {% endblock css %}
        
    
       
        
    
        
</body>

</html>