{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a href="{% url 'girls_create'  %}" class="btn btn-info" role="button" aria-pressed="true">キャスト給料入力</a>
    {% for item in obj %}
    {% if forloop.last %}
    <p>キャストの給料合計 → {{ item.salary_total }}</p>
    {% endif %}
    {% endfor %}
    {% for item in model %} 
    <div class="alert alert-success" role="alert">
        <p>名前 : {{ item.name }}</p>
        <p>給料 : <a href="{% url 'girls_salary' item.pk %}">{{ item.salary }}</a></p>
        <a href="{% url 'girls_detail' item.pk %}" class="btn btn-primary" role="button" aria-pressed="true">詳細画面へ</a>
        <a href="{% url 'girls_delete' item.pk %}" class="btn btn-success" role="button" aria-pressed="true">削除画面へ</a>
        <a href="{% url 'girls_update' item.pk %}" class="btn btn-info" role="button" aria-pressed="true">編集画面へ</a>
    </div>
    {% endfor %}
</div>
{% endblock content %}