{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <p><a href="{% url 'create' %}" class="btn btn-success" role="button" aria-pressed="true">売上入力</a></p>
    {% for item in obj %}
    {% if forloop.last %}
        <p>現在の売上です →{{ item.sales_total|intcomma }}</p>
    {% endif %}
    {% endfor %}
    {% for item in model %} 
    <div class="alert alert-info" role="alert">
        <p>テーブル番号 : {{ item.tablenumber }}</p>
        <p><a href="{% url 'bill' item.pk %}" class="btn btn-info" role="button" aria-pressed="true">お会計 : {{ item.bill|intcomma }}</a></p>
        <p><a href="{% url 'tax' item.pk %}" class="btn btn-info" role="button" aria-pressed="true">消費税 : {{ item.tax_total|intcomma }}</a></p>
        <a href="{% url 'detail' item.pk %}" class="btn btn-primary" role="button" aria-pressed="true">詳細画面へ</a>
        <a href="{% url 'delete' item.pk %}" class="btn btn-danger" role="button" aria-pressed="true">削除画面へ</a>
        <a href="{% url 'update' item.pk %}" class="btn btn-secondary" role="button" aria-pressed="true">編集画面へ</a>
        <DIV STYLE="FLOAT: RIGHT">投稿時間 : {{ item.date }}</DIV>
    </div>
    {% endfor %}
    
    {% for item in object %}
        {{item.bill}}
    {% endfor %}
        
{% endblock content %}
</div>
