{% extends 'base.html' %}
{% load static %}

{% block header %}

<body class="text-center">
    <form class="form-signin" method="POST">{% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">ログインしてください </h1>
  <label for="inputEmail" class="sr-only">Username</label>
  <input type="text" id="inputEmail" class="form-control" placeholder="username" name='username'required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name='password' required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
  <p>{{context}}</p>
</form>
</body>

{% endblock header %}

{% block css %}
<link href="{% static 'style.css' %}" rel="stylesheet"> 
{% endblock css %}