{% extends 'base.html' %}
    

{% block content %}
<form action="" method="POST">{% csrf_token %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <table border="1">
            <thead>
                <tr valign="top">
                    <th width="100" height="50">今日の利益</th>
                </tr>
            </thead>
            <tbody>
                <tr valign="top">
                    <td width="100" height="50"> {{ object.profit }}</td>
                </tr>
            </tbody>
            
        </table>
    </div>
    <h3>上記の内容を削除しますか？</h3>
    <input type="submit" value="dalete">
</form>
</div>
{% endblock content %}