{% extends 'base.html' %}
{% load humanize %}
{% block content %} 

{% if user.is_authenticated %}
<div class="container">
    <div class="alert alert-info" role="alert">

        {% for item in obj1 %}
        {% if forloop.last %}
            <p>売上合計 →{{ item.sales_total|intcomma }}</p>
        {% endif %}
        {% endfor %}
    
        {% for i in obj2 %}
        {% if forloop.last %}
            <p>ボーイの給料合計 →{{ i.salary_total|intcomma }}</p>
        {% endif %}
        {% endfor %}
    
        {% for a in obj3 %}
        {% if forloop.last %}
            <p>キャストの給料合計 → {{ a.salary_total|intcomma }}</p>
        {% endif %}
        {% endfor %}

        {% for item in obj4 %}
        {% if forloop.last %}
        <p>買い物の出費合計 → {{ item.shopping_total|intcomma }}</p>
        {% endif %}
        {% endfor %}

        {% for item in object %}
            <p>今日の利益 → {{ item.profit|intcomma}}</p>
        {% endfor %}
        
    </div>
</div>
{% else %}
<a href="{% url 'login'  %}">ログインしてください</a>
{% endif %}
{% endblock content %}

    
    
    
   

    
